In [65]:
import pandas as pd

In [66]:
# Read T10505-Q sheet from BEA Data 
# Table 1.5.5. Gross Domestic Product, Expanded Detail
# [Millions of dollars] Seasonally adjusted at annual rates
# Quarterly data from 1947Q1 to 2023Q4

# Bureau of Economic Analysis
# Data published March 28, 2024

# URL for download https://apps.bea.gov/iTable/?isuri=1&reqid=19&step=4&categories=flatfiles&nipa_table_list=1


gdp_df = pd.read_excel("../../resources/Section1All_xls.xlsx", 
              sheet_name="T10505-Q",
             skiprows = 7)

In [67]:
gdp_df.head()

,Line,Unnamed: 1,Unnamed: 2,1947Q1,1947Q2,1947Q3,1947Q4,1948Q1,1948Q2,1948Q3,...,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3,2023Q4
0,1,Gross domestic product,A191RC,243164,245968,249585,259745,265742,272567,279196,...,23828973.0,24654603.0,25029116.0,25544273.0,25994639.0,26408405.0,26813601.0,27063012.0,27610128.0,27956998.0
1,2,Personal consumption expenditures,DPCERC,156161,160031,163543,167672,170372,174142,177072,...,16285113.0,16718195.0,17030634.0,17415115.0,17684189.0,17917039.0,18269569.0,18419007.0,18679496.0,18914478.0
2,3,Goods,DGDSRC,95594,98248,100419,103453,105093,107188,108741,...,5515884.0,5732790.0,5879255.0,6014444.0,6046813.0,6047645.0,6133839.0,6144657.0,6231764.0,6255650.0
3,4,Durable goods,DDURRC,20722,21351,21770,23488,23547,24019,25277,...,1972724.0,2070181.0,2120715.0,2122910.0,2143128.0,2129012.0,2194859.0,2193586.0,2204485.0,2202169.0
4,5,Motor vehicles and parts,DMOTRC,6319,6437,6181,7139,7694,7347,8146,...,670962.0,715448.0,735274.0,725941.0,728151.0,733853.0,776235.0,772653.0,764572.0,758436.0

In [69]:
gdp_df.shape

(68, 311)

In [70]:
# Drop columns until 1959 Qtr 1
year_range = list(range(3, 51))
gdp_df = gdp_df.drop(columns=gdp_df.iloc[:,year_range])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [71]:
gdp_df.head()

,Line,Unnamed: 1,Unnamed: 2,1959Q1,1959Q2,1959Q3,1959Q4,1960Q1,1960Q2,1960Q3,...,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3,2023Q4
0,1,Gross domestic product,A191RC,510330.0,522653.0,525034.0,528600.0,542648.0,541080.0,545604.0,...,23828973.0,24654603.0,25029116.0,25544273.0,25994639.0,26408405.0,26813601.0,27063012.0,27610128.0,27956998.0
1,2,Personal consumption expenditures,DPCERC,309449.0,315505.0,320725.0,322842.0,326364.0,332208.0,332126.0,...,16285113.0,16718195.0,17030634.0,17415115.0,17684189.0,17917039.0,18269569.0,18419007.0,18679496.0,18914478.0
2,3,Goods,DGDSRC,169723.0,172617.0,174524.0,173564.0,175060.0,178396.0,177503.0,...,5515884.0,5732790.0,5879255.0,6014444.0,6046813.0,6047645.0,6133839.0,6144657.0,6231764.0,6255650.0
3,4,Durable goods,DDURRC,43649.0,45465.0,46336.0,44103.0,45455.0,46434.0,45922.0,...,1972724.0,2070181.0,2120715.0,2122910.0,2143128.0,2129012.0,2194859.0,2193586.0,2204485.0,2202169.0
4,5,Motor vehicles and parts,DMOTRC,18090.0,19335.0,20073.0,17658.0,19343.0,19942.0,20130.0,...,670962.0,715448.0,735274.0,725941.0,728151.0,733853.0,776235.0,772653.0,764572.0,758436.0